<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <%- include("partials/nav.ejs") %>

    <section class="section">
        <div class="main-section">
            <h1><%= message %></h1>
            <div class="text">
                 <h4>we bring clients and reputable</h4> 
                <h4 class="service">service providers together</h4>
               
            </div>
            <button class="btn">get your service listed</button>
        </div>
        <div class="services">
            <div class="option">
                <% const category =["Fashion designer","Makeup-Artist","Rug Maker","Photographer","Event Planner","Cateer"] %>
                <select name="category" id=""  class="slt">
                    <option value="">What service do you need</option>
                    <% for (let cat of category){%>
                        <option value="<%= cat %>"><%= cat %></option>
                        
            
                    <%} %>
                </select>
                
                <% const city =["Lagos","Ogun","Ondo","Kogi","PortHarcourt","Kaduna"] %>
              
            </div>
            <div class="sub-div">
                <select name="city" id="" class="city">
                    <option value="">Where ?</option>
                    <% for(let cities of city){%>
                     <option value="<%= cities %>"><%=cities%></option>
                    <%} %>
                </select>
                <button class="search">search</button>

            </div>
         

        </div>
        <div class="advert">
            <h4 class="here"> place your advert here</h4>
        </div>
    </section>
    <%- include("partials/footer")%>
    <script src="../artisan/server.js"></script>
   
</body>
</html>